{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.ejs",
      "options": { "parser": "html" }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "assets/Info.plist",
      "options": { "parser": "html" }
    }
  ]
}
