<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=900, minimum-scale=0.5, maximum-scale=2.0"
    />
    <title>Mongood</title>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
