<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=0.5, maximum-scale=2.0"
    />
    <link
      rel="preload"
      href="https://spoprod-a.akamaihd.net/files/fabric/assets/icons/fabric-icons-a13498cf.woff"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>Mongood</title>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
